In [1]:
import pandas as pd

In [5]:
cities=pd.read_csv('citydatainfo.csv')

In [6]:
cities.head()

,Unnamed: 0,City,Country,Date,Longitude,Latitude,Temperature,Humidity,Cloudiness,Wind Speed
0,0,whyalla,AU,1619910581,137.5833,-33.0333,59.00,82,1,6.91
1,1,thompson,CA,1619910581,-97.8558,55.7435,23.00,86,90,9.22
2,2,vanimo,PG,1619910534,141.3028,-2.6741,80.98,80,71,4.61
3,3,jamestown,US,1619910581,-79.2353,42.0970,56.80,35,90,20.71
4,4,arraial do cabo,BR,1619910431,-42.0278,-22.9661,72.90,68,100,11.52

In [7]:
cities.to_html("cities.html")